@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao sistema de Cadastro de Contatos</h1>

    <br />

    <div>
        <p class="display-6">
            Cadastre seus contatos de forma simplificada!
        </p>
    </div>
</div>
