@model UsuarioModel
@{
    ViewData["Title"] = "Confirmar exclusão de Usuario";
}

<div class="text-center">
    <h1 class="display-4">Realmente deseja apagar o contato de @Model.Name</h1>
</div>

<br />

<div class="text-center">
    <a class="btn btn-outline-danger" asp-controller="Usuarios" asp-action="Apagar" asp-route-id="@Model.Id">Sim</a>
    <a class="btn btn-outline-secondary" asp-controller="Usuarios" asp-action="Index">Não</a>
</div>